@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4" style="font-family: 'Amaranth', sans-serif; font-weight: bold;">¡Bienvenido!</h1>
    <p style="font-family: 'Montserrat'">Seleccione una opción:</p>
    <div style="margin-bottom: 10px;">
        <button class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Crear ítems</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Crear combos</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Crear promociones</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Alta de empleados</button>
    </div>
    <div>
        <button class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Crear mesas</button>
    </div>
</div>





