@* @model Modulo1_Administracion.Models.empleados

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_empleado" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_cargo" class="control-label"></label>
                <input asp-for="id_cargo" class="form-control" />
                <span asp-validation-for="id_cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_estado" class="control-label"></label>
                <input asp-for="id_estado" class="form-control" />
                <span asp-validation-for="id_estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@

                @model Modulo1_Administracion.Models.empleados

@{
    ViewData["Title"] = "Editar";
}


<style>
    body {
        font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo el cuerpo */
    }

</style>
<hr class="hrHorizontal">

<div class="d-flex ms-5 mt-3">
    <div class="icono">
        <img src="" alt="">
    </div>

    <div class="tituloTexto align-middle ms-3">
        <div class="imagen">
            <a class="imagen"><img src="https://cdn-icons-png.flaticon.com/128/6823/6823086.png" height="70px" width="70px" style="float: left; margin-right: 10px;" /></a>
        </div>
        <div>
            <b><h3 style="font-family: 'Amaranth'">Editar</h3></b>
            <p style="width: 400px;">Administración de Empleado</p>
        </div>
    </div>
</div>

<hr class="hrHorizontal">

<div style="margin-left: 140px;">
    <h4>Empleado</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id_empleado" />
                <div class="form-group">
                    <label asp-for="nombre" class="control-label"></label>
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="apellido" class="control-label"></label>
                    <input asp-for="apellido" class="form-control" />
                    <span asp-validation-for="apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="direccion" class="control-label"></label>
                    <input asp-for="direccion" class="form-control" />
                    <span asp-validation-for="direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telefono" class="control-label"></label>
                    <input asp-for="telefono" class="form-control" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="correo" class="control-label"></label>
                    <input asp-for="correo" class="form-control" />
                    <span asp-validation-for="correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="id_cargo" class="control-label"></label>
                    <input asp-for="id_cargo" class="form-control" />
                    <span asp-validation-for="id_cargo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="id_estado" class="control-label"></label>
                    <input asp-for="id_estado" class="form-control" />
                    <span asp-validation-for="id_estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="empleadosIndex">Back to List</a>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}