@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <div>
        <div>
            <h3 style="font-family: 'Amaranth'">Items menú</h3>
            <p>Administración de los ítems del menú</p>
        </div>
        <hr />
        <br />
    </div>
</header>
<div class="primario">
    <div class="formulario">
        <h3 style="font-family: 'Amaranth';"></h3>
    </div>
    <div class="tablas">

    </div>
</div>